* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: oblique;
}

section #servicios{
        display:contents;
     }

.servi {
    padding: 20px;
    margin: auto;
    text-align: justify;
}

@media (min-width: 668px){
    .form_contact {
        display: grid;
        grid-template-columns: 5fr 1fr;
    }
}

@media (max-width: 668px){
    .servi{
        background-color: rgb(208, 235, 155);
        margin: 5px;
    }
    .imagen{
        padding: 0px;
        margin: 5px;
        width: auto;
        height: auto;

    }
    .form_contact {
        margin: auto;
        background-color: rgb(191, 196, 180);
        grid-template-columns: 1fr 1fr;


    }
    #clientes{
        background-color: rgb(100, 195, 219);
        display: grid;
        grid-template-columns: 1fr;
    }
}

.imagen {
    padding: 5px;
    width: 300px;
    height: 300px;
    margin: auto;
    display:flex;
}

#intro{
        background-color: rgb(100, 195, 219); /*serv*/
        padding: 30px;
        max-width: 90%;
        margin: auto;
 }

#clientes{
    padding: auto;
    margin: 30px 20px 20px 20 px;
    width: 80%;
    font-style: normal;
    align-items: center;

    }

#arbol {
    padding: 20px;
    text-decoration: solid;
}
footer{
    background-color: rgb(119, 176, 179);
    height: 100px;
    padding: 10px;
    border: 1px solid rgb(57, 42, 94);
    font-size: 10px;
    font-style: normal;
     z-index: 1;
     display:flexbox;

}

a:link, a:visited {
    color: rgb(247, 243, 12);
    text-decoration: underline;
    cursor: auto;
  }
  
  a:link:active, a:visited:active {
    color: rgb(175, 105, 14);
  }

.container{
    background: linear-gradient(150deg, rgb(58, 238, 178) 50%, rgb(100, 195, 219));
    height: auto;
    width: 80%;
    padding: 5px 5px;
    display: flex;
    flex-direction: row ;
    gap: 1px;
    flex-flow: nowrap; /*nowrap*/
    justify-content: right;
    position: relative;
    left: 100px;
    z-index: 2;
}

.presenta{
    background-color: rgb(100, 195, 219);
}

footer #pieitem{
    width: 40px;
    height: 40px;
    background-color: rgb(22, 54, 95);
    padding: 5px 5px 5px 5px;
    align-content: center;

}
#pieitem img {
    width: 100%;
    height: auto;

}
footer p{
    background-color: rgb(11, 77, 20);
    color: rgb(139, 218, 241);
    z-index: 3;
}


.form_contact{
    color: rgb(55, 55, 170);
    margin: 30px;
    padding: 30px 50px 50px 50px;
    font-size: 10px;
    font-weight: normal;

}
.proye {
    height: auto;
    width: 80%;
    align-content: center;
}

.formulariosusc{
    background-color: rgb(216, 213, 189);
    width: 80%;
    align-content: center;
    display: block;
    font-style: normal;
}
.suscript{
    align-items:flex-start;
    max-width: 60%; 
    margin: 0;

}
.suscript input   {
    transition: all 2s;

}

.suscript input:focus  {
    font-size: 12px;
    background-color: aqua;
}
.form_contact{
    max-width: 90%;
    margin: 0;
}

.col-sm-8 {
    background: radial-gradient(200deg, rgb(232, 247, 205) 50%,rgb(232, 235, 182) 40%);
    max-width: 80%;
    margin: auto;
}
.boxt{
    width: 90px;
    height: 50px;
    border: 1px solid rgb(98, 98, 126);
    margin: auto;
    font-size: 20px;
   
}
.boxt.skew{
    background-color: rgb(98, 98, 126);
    transform: skew(-20deg, 5deg);
    transition:all 8s;
 }
 .boxt.skew:hover{
    background-color: rgb(116, 70, 155);
    transform: skew(-20deg, 20deg);
    width: 100px;
 }
 .animate__animated.animate__bounce {
    --animate-duration: 8s;
  }
  .container-fluid{
    background-color: rgb(15, 68, 138);
  }
  
  @keyframes efecto {
    0%{
        width: 200px;
        height: 100px;
    }
    50%{
        width: 250px;
        height: 100px;

    }
    100%{
        width: 350px;
        height: 100px;
        background-color: beige;
    }
  }
  .boxAnimat{
    background-color: rgb(223, 223, 87);
    width: 200px;
    height: 100px;
    border: 1px solid rgb(208, 248, 134);
    margin: 0 auto;
    font-size: 30px;
    animation: efecto 1s 10s infinite linear;

  }

  .boxAnimat.translate {
    background-color: rgb(186, 208, 226);
    transform: translate(1px, 1px);
    transition: all 10s;
  }