* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: oblique;
}
 header{
    background-color: rgb(232, 235, 182);
    height: 90px;
    padding: 1px;
    border: 2px solid rgb(20, 29, 6);
    position: relative;
    z-index: 999;
    align-items:stretch;
}

header.logo{
    position:relative;
    display:flex;
}
header ul li{
    display:inline-flex;
    margin: auto;
    align-items:initial;
}

header ul li a{
    background-color: rgb(243, 238, 222);
    text-align: center;
    padding: 10px 10px 10px 10px;
 
} 

body{
    background-color: rgb(232, 235, 182);
}

section{
    padding: 20px 20px 20px 60px;
    height: auto;
    margin-left: 2px;
    overflow: auto;
 
     }
section h1{
        color: rgb(27, 31, 21);
        padding: 20px;
        font-style: oblique;
        font-size: 25px;
    }
section p{
        color: rgb(34, 19, 51);
        padding: 10px;
        text-align: justify;
        font-size: 13px;
     }

section #servicios{
        column-count: 2;
  
     }

#intro{
        background-color: rgb(202, 209, 134); /*serv*/
      align-items: center;
        padding: 30px;

    }

#clientes{
        font-style: normal;
        align-items: center;
        margin: 50px 30px ;
        width: 80%;
    }


footer{
    background-color: rgb(215, 216, 154);
    height: 100px;
    padding: 10px;
    border: 1px solid rgb(131, 119, 10);
    font-size: 10px;
    font-style: normal;
     z-index: 1;
     display: flexbox;

     
}

a:link, a:visited {
    color: rgb(91, 14, 163);
    text-decoration: underline;
    cursor: auto;
  }
  
  a:link:active, a:visited:active {
    color: rgb(221, 195, 109);
  }

.container{
    background-color: rgb(218, 221, 190);
    height: 60px;
    width: 80%;
    padding: 5px 5px;
    display: flex;
    flex-direction: row ;
    gap: 1px;
    flex-flow: nowrap; /*nowrap*/
    justify-content: right;
    position: relative;
    left: 100px;
    z-index: 2;
}

footer #pieitem{
    width: 40px;
    height: 40px;
    background-color: rgb(22, 54, 95);
    padding: 5px 5px 5px 5px;
    align-content: center;

}
#pieitem img {
    width: 100%;
    height: auto;

}
footer p{
    background-color: rgb(22, 54, 95);
    color: rgb(139, 218, 241);
    z-index: 3;
}


.form_contact{
    color: rgb(30, 30, 66);
    width: 80%;
    margin: 30px;
    padding: 30px 50px 50px 50px;
    font-size: 10px;
    font-weight: normal;

}
.proye{
    height: auto;
    width: 80%;
    align-content: center;
}

.formulariosusc{
    width: 90%;
    align-content: center;
    background-color: rgb(216, 213, 189);
    display: block;
    font-style: normal;
}