
.col-sm-8 {
    background: radial-gradient(200deg, rgb(232, 247, 205) 50%,rgb(232, 235, 182) 40%);
    max-width: 80%;
    margin: auto;
}
.boxt{
    width: 90px;
    height: 50px;
    border: 1px solid rgb(98, 98, 126);
    margin: auto;
    font-size: 20px;
   
}
.boxt.skew{
    background-color: rgb(98, 98, 126);
    transform: skew(-20deg, 5deg);
    transition:all 8s;
 }
 .boxt.skew:hover{
    background-color: rgb(116, 70, 155);
    transform: skew(-20deg, 20deg);
    width: 100px;
 }
 .animate__animated.animate__bounce {
    --animate-duration: 8s;
  }
  .container-fluid{
    background-color: rgb(70, 138, 226);
  }
  
  @keyframes efecto {
    0%{
        width: 200px;
        height: 100px;
    }
    50%{
        width: 250px;
        height: 100px;

    }
    100%{
        width: 350px;
        height: 100px;
        background-color: beige;
    }
  }
  .boxAnimat{
    background-color: rgb(223, 223, 87);
    width: 200px;
    height: 100px;
    border: 1px solid rgb(208, 248, 134);
    margin: 0 auto;
    font-size: 30px;
    animation: efecto 1s 10s infinite linear;

  }

  .boxAnimat.translate {
    background-color: rgb(186, 208, 226);
    transform: translate(1px, 1px);
    transition: all 10s;
  }